#buttonCreateProject {
    -fx-graphic: url("/icons/icon_create_project.png");
}

#buttonJoinProject {
    -fx-graphic: url("/icons/icon_join_project.png");
}

#hBoxActions {
    -fx-spacing: 5;
    -fx-padding: 5;
}

.button {
    -fx-background-color: lightgray;
}

.button:hover {
    -fx-background-color: darkgray;
}

.button:pressed {
    -fx-background-color: gray;
}