#buttonLeaveProject {
    -fx-graphic: url("/icons/icon_leave_project.png");
}

#buttonPullCHanges {
    -fx-graphic: url("/icons/icon_pull_changes.png");
}

#buttonPushChanges {
    -fx-graphic: url("/icons/icon_push_changes.png");
}

.button {
    -fx-background-color: lightgray;
}

.button:hover {
    -fx-background-color: darkgray;
}

.button:pressed {
    -fx-background-color: gray;
}