#root {
    -fx-background-color: lightslategray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 1, 1);
}

#root:hover {
    -fx-background-color: slategray;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 1, 1);
}

#borderPaneTop {
    -fx-padding: 5;
}

#borderPaneActions {
    -fx-padding: 5;
}

#labelProjectName {
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-padding: 5;
    -fx-font-family: Helvetica, sans-serif;
}

#labelFileType {
    -fx-text-fill: lightgray;
    -fx-padding: 5;
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-style: italic;
}

.button {
    -fx-background-color: lightgray;
}

.button:hover {
    -fx-background-color: darkgray;
}

.button:pressed {
    -fx-background-color: gray;
}